@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

header {
  background-color: #1f2937;
  color: #f9faf8;
  width: 100vw;
  margin: auto;
  padding: 30px;
}

header div {
  padding: 16px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: auto;
}

div.header-links {
  margin-left: auto;
}

.header-links a {
  text-decoration: none;
  color: #f9faf8;
  padding: 6px 20px;
  margin: auto;
}

/* Issue: can't get the last link to line up vertically with image.
- try header link 3 to margin: 0? */

.logo-container div {
  margin: auto;
}

.logo-container a {
  text-decoration: none;
  color: #f9faf8;
  font-weight: 900;
  font-size: 24px;
  /* using margin: auto vertically centered the header logo? */
  padding-left: 6px;
  margin: auto;
}

/* --- HERO SECTION --- */
.hero {
  display: flex;
  margin: auto;

  align-items: center;
  justify-content: space-between;
}

.hero img {
  height: 300px;
  width: 500px;
  margin: auto;
}

/* Code below fixes the spacing issue with the word 'awesome' in the h1 by wrapping the word in a <span> then changing the span to display:block to bring it down to a new line */
.hero span {
  display: block;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 8px;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.header-hero-container {
  margin: auto;
}

.hero .hero-text button {
  margin-top: 12px;
  padding: 6px 18px;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

/* --- INFORMATION SECTION --- */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 60px;
  width: 100vw;
  height: 85vh;
}

.info-img {
  display: flex;
  gap: 40px;
}

.info-img figcaption {
  text-align: center;
  font-weight: 600;
  padding: 16px 0;
}

.info h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin: 30px 0;
}

.info-img img {
  width: 200px;
  height: 200px;
  border: 3px solid #3882f6;
  border-radius: 14px;
}

/*  QUOTE SECTION  */
.quote {
  width: 100vw;
  height: 100vh;
  padding-top: 40px;
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}

.quote blockquote {
  padding: 20px 250px;
}

.quote figcaption {
  padding-left: 700px;
  font-weight: 700;
}
