@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  color: #f9faf8;
}

header {
  background-color: #1f2937;
  width: 100%;
}

header .hero img {
  height: 300px;
  width: 500px;
  margin: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: auto;
}

header div {
  padding: 16px;
  margin: 0 32px;
}

.header-links a,
.header-container a {
  text-decoration: none;
  color: #f9faf8;
  /* using margin: auto vertically centered the header logo? */
  padding: 15px;
  margin: auto;
}
/* --- HERO SECTION --- */
.hero {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

/* Code below fixes the spacing issue with the word 'awesome' in the h1 by wrapping the word in a <span> then changing the span to display:block to bring it down to a new line */
.hero span {
  display: block;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}
